<%= content_for(:title, "TIMDEX") %>

<div class="layout-3q1q layoutband">
  <div class="col3q">
    <div class="about-timdex box-content">
      <h3 class="title">About TIMDEX Discovery API</h3>

      <p>TIMDEX is a free discovery API into collections at MIT Libraries.</p>

      <p>We currently provide searching of records in MIT Libraries catalog, DSpace@MIT, and MIT ArchivesSpace.</p>

      <p>Access is via a <a href="https://graphql.org">GraphQL</a> endpoint by posting to <%= link_to(graphql_url) %>.
        We recommend starting by exploring our <a href="/playground">interactive GraphQL playground</a>, or you can
        look through our <a href="https://mitlibraries.github.io/timdex/">developer documentation</a> for how-to guides,
        API reference, and more.

      <div class="well">
        <p>Example query to use in the playground or your own app:</p>

<pre>
{
  search(searchterm: "learn graphql") {
    records {
      title
      sourceLink
      summary
    }
  }
}
</pre>

      <p><a href="/playground?query=%7B%0A%20%20search(searchterm%3A%20%22learn%20graphql%22)%20%7B%0A%20%20%20%20records%20%7B%0A%20%20%20%20%20%20title%0A%20%20%20%20%20%20sourceLink%0A%20%20%20%20%20%20summary%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D">Jumpstart this example query in the Playground</a></p>
      </div>

      <p>Additional examples and a tutorial on how to use this GraphQL API will be available soon.</p>
    </div>

    <div class="retired-rest box-content well">
      <h3>Talk to us!</h3>

      <p>Feedback is welcome via <a href="mailto:timdex@mit.edu?Subject=TIMDEX%20Feedback">timdex@mit.edu</a>.</p>

      <p>Bug reports via the <a href="https://github.com/MITLibraries/timdex/issues">Github repository</a> would be great.</p>
    </div>

    <div class="retired-rest box-content">
      <h3>REST API retired</h3>

      <p>Our original REST API was deprecated and then retired in early 2023. The replacement GraphQL API can search more data and has features not found in the origial API. If you need help migrating from REST to GraphQL please <a href="mailto:timdex@mit.edu?Subject=TIMDEX%20GraphQL%20transition">let us know</a>.</p>
    </div>
  </div>

  <aside class="col1q-r">
    <img src="<%= image_path('tim-timdex.svg') %>" alt="Tim the beaver says 'TIMDEX!'" />
  </aside>

</div>
